.container {
  margin-bottom: 2%;
  background-image: url("../img/bkg.png");
  padding-bottom: 10%;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/ping-bkg.png");
  color: #fff;
}

.jumbotron p{
  color: white;
}

.result-col {
  margin-left: 3%;
  margin-top: 6%;
}

#gif img {
  margin-top: 5%;
  padding-left: 15%;
  width: 65%;
}

#hide img {

}

li {
  list-style-type: none;
}

.result-col {
  text-align: center;
}

.result-col li {
  font-size: 20px;
}
