.container {
  margin-bottom: 2%;
  background-image: url("../img/bkg.png");
  padding-bottom: 25%;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/ping-bkg.png");
  color: #c70019;
}

.jumbotron p{
  color: white;
}

.result-col {
  margin-left: 3%;
  margin-top: 6%;
}
